<% set_meta_tags noindex: true %>
<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<br>
<% unless @scene.blank? %>
	<h3 class="text-center"><%= @scene %></h3>
<% end %>
<br>

<% if @spots.blank? %>



<% else %>


	
<%= render 'spots' %>

<div class="text-center">
	<%= paginate @spots %>
</div>
	  


<% end %>


</mains>


