<% set_meta_tags noindex: true %>
<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

  	<div class="box99" id=''> 
  		<div>
  			<h4 class="text-center box-top1">Coolなデートコースを10秒で</h4>
  			<p class="text-center">提案するのは厳選したデートコースのみ</p>
  			<p class="text-center">私たちが完璧なデートへのハードルをお下げします</p>
  		</div>
      <h1>
      <div class="home-box">
        <div class="home-box-1">
          <%= link_to demos_lunch_search1_path do %>
            <div class="lunch-btn">
              <i class="fa fa-sun-o"></i>
            </div>
            <div class="lunch-info">
              ランチから
            </div>
          <% end %>
        </div>
        <div class="home-box-1">
          <%= link_to demos_search1_path do %>
            <div class="dinner-btn">
              <i class="fa fa-moon-o"></i>
            </div>
            <div class="dinner-info">
              ディナーから
            </div>
          <% end %>
        </div>
      </div>
      </h1>
    </div>

  <script>
  	$(function() {
	$("body").on("click", "a", function(e) {
		var _this = $(this);
		var _href = _this.attr("href");
	
		if (_href.charAt(0,1) == "#") {
			e.preventDefault();
			var _target  = $(_href == "#" || _href == "" ? $("html") : _href);
			if (_target.length == "0") _target = $("html");
			var position = _target.offset().top;
			var _scroll  = _this.data("scroll");
			if (_scroll !== undefined) position = position + Number(_scroll);
			if (position <= 0) position = 1;	//Android2系でスクロールのバグ対策
			$("html, body").animate({scrollTop : position} ,500, "swing");
			return false;
		}
	});
});

  </script>


</mains>
<%= render "partial/footer" %>