<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="box-balloon">
	<h4 class="text-center">提案の方法を選びましょう</h4>
	<div class="balloon-on">
	  1
	</div>
	<div class="balloon-line"></div>
	<div class="balloon-off">
	  2
	</div>
	<div class="balloon-line"></div>
	<div class="balloon-off">
	  3
	</div>
</div>

<div class="box-method">

<div class="box-method-item">
<a id="fab-line" href="/seeks/line">
  <i class="fab fa-line"></i>
</a>
<p style="font-size:16px;color:black;">LINEで受け取る</p>
</div>
<div class="box-method-item">
<a id="fab-mail" href="/seeks/mail">
  <i class="fas fa-envelope-square"></i>
</a>
<p style="font-size:16px;color:black;">メールで受け取る</p>
</div>

</div>

</mains>
