<%= render "partial/navbar" %>
<mains class="" id="main-collapse">
<div class="box-method">

<p class="text-center" style="color:black;">提案の方法を選ぶことができます</p>
<h4 class="text-center">どちらにしますか？</h4>
<br>

<a id="fab-line" href="/seeks/line">
  <i class="fab fa-line"></i>
</a>
<a id="fab-mail" href="/seeks/mail">
  <i class="fas fa-envelope-square"></i>
</a>


</div>

</mains>
