<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="box-balloon">
	<h4 class="text-center">提案の方法を選びましょう</h4>
	<div class="balloon-on">
	  1
	</div>
	<div class="balloon-line"></div>
	<div class="balloon-off">
	  2
	</div>
	<div class="balloon-line"></div>
	<div class="balloon-off">
	  3
	</div>
</div>

<div class="box-method">
	<div class="box-method-item">
		<a id="fab-line" href="/seeks/line">
		  <i class="fab fa-line"></i>
		</a>
		<p style="font-size:16px;color:black;">LINEで受け取る</p>
	</div>
	<div class="box-method-item">
		<a id="fab-mail" href="/seeks/mail">
		  <i class="fas fa-envelope-square"></i>
		</a>
		<p style="font-size:16px;color:black;">メールで受け取る</p>
	</div>
</div>

<div class="box-note">
	<h4 style="font-size:14px;margin-bottom:2px;">提案までの時間</h4>
	<p style="font-size:12px;">24時間以内</p>
	<h4 style="font-size:14px;margin-bottom:2px;">対応エリア</h4>
	<p style="font-size:12px;">東京エリア<br><span class="site-title" style="letter-spacing:0em;">A.Date</span>はベータ版のため、東京エリアでも対応していない地域があり、時間がかかる恐れがあります。<br>その場合はこちらからご連絡させていただきます。</p>	
	<h4 style="font-size:14px;margin-bottom:2px;">料金</h4>
	<p style="font-size:12px;">無料でご利用いただけます。</p>
</div>

</mains>
