<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">
	<div class="box-max">
		<%= render "partial/fotter_home" %>
	</div>
</div>

<div class="pc_2">

</div>

<%= render "partial/footer" %>
</mains>