<% if @article %>
<%= image_tag @article.photo.url(:medium) %>
<% else %>
該当するデートコースはありません
<% end %>



<form>
<input type="button"  value="Change" onclick="koshin()">
</form>

<script>
//更新
function koshin(){
  location.reload();
}
</script>
