<div class="fotter_result">
  <div style="text-align:center;font-size:20px;color:black;padding:20px 0px 0px;">
    <a href="/" class="site-title black" style="letter-spacing:0em;">A.Date</a>
    <p>あなたの代わりにデートコースを</p>
  </div>
  <div style="text-align:center;">
    <a class="btn-sns" href="https://www.instagram.com/adate_ig/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="btn-sns" href="https://www.facebook.com/adate.fa/" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn-sns" href="https://twitter.com/adate_tw/" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="btn-sns" href="mailto:adate.ask@gmail.com?subject=お問い合わせ" target="_blank">
      <i class="far fa-envelope"></i>
    </a>
  </div>
  <div style="padding:40px 10px 0px;text-align:center;font-size:20px;color:black;">
    <p style="font-size:13px;padding:0px 20px;color:black;">
      A.Dateはあなたの条件に応じてのデートコース提案する、パーソナルプランも行っております。
      <br>より詳細な条件で自分に合ったデートコースをつくりたい方はぜひご利用ください。
      <br><span style="font-size:10px;">※パーソナルプランは有料です</span>   
    </p>
    <div style="padding:10px 0px 0px;text-align:center;margin:0 auto;font-size:20px;color:black;">
      <%= link_to seeks_form_path do %>
        <div class="btn btn-primary">
          デートコースを提案してもらう
        </div>
      <% end %>
      <%= link_to plans_personal_path do %>
        <div class="black" style="font-size:13px;padding-top:10px">
          パーソナルプランとは
        </div>
      <% end %>
    </div>
  </div>
</div>