<%= render "partial/navbar00" %>
<mains class="" id="main-collapse">

<div class="pc_1">
	<div class="box-balloon">
    <h4 class="text-center">申し込みがが完了しました</h4>
    <div class="balloon-off">
      1
    </div>
    <div class="balloon-line"></div>
    <div class="balloon-off">
      2
    </div>
    <div class="balloon-line"></div>
    <div class="balloon-on">
      3
    </div>

<div style="padding:50px 50px;">

<p class="text-center" style="color:black;">
	ただいま確認のメールをお送りしました。
	<br>
	ご希望に沿ったコースをメールでご提案しますので、今しばらくお待ちください。
	<br>
	(提案までの時間の目安:24時間以内)
</p>
<br>
<div class="text-center">
	<%= link_to root_path do %>
      <div class="btn btn-default">
        ホームに戻る
      </div>
    <% end %>
</div>

</div>

  <div class="pc_2">
    
  </div>


</div>

<%#広告%>
<% unless (user_signed_in?) %>
  <div class="visible-xs visible-md">
    <div class="ad-fotter">
    <script type="text/javascript">
    var nend_params = {"media":54485,"site":296581,"spot":869343,"type":1,"oriented":1};
    </script>
    <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
    </div>
    <div class="box-ad-fotter"></div>
  </div>
<% end %>
</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>