<%= render "partial/navbar00" %>
<mains class="" id="main-collapse">

    <div class="visible-xs visible-sm">

		<%= render 'spots' %>

	</div>

	    
	<div class="visible-md visible-lg">
	  	
	</div>
	  		

</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>



