<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">

  	<div style="padding:30px 35px 0px;">
  		<h4>特定商取引法に基づく表記</h4>

		<p>販売業者名&nbsp;&nbsp;A.Date運営局</p>

		<p>販売責任者&nbsp;&nbsp;A.Date運営局</p>

		<p>所在地&nbsp;&nbsp;〒166−0004 東京都杉並区阿佐谷南1-3-12-302</p>

		<p>連絡先&nbsp;&nbsp;080-8358-8254</p>

		<p>webサイト&nbsp;&nbsp;https://www.a-date.jp</p>

		<p>営業時間&nbsp;&nbsp;10:00~22:00</p>

		<p>販売価格・提供内容&nbsp;&nbsp;販売ページに記載</p>

		<p>支払い方法&nbsp;クレジットカード決済</p>

		<p>個人情報の取扱いに関してはプライバシーポリシーをご参照ください。</p>
  	</div>

</div>

<div class="pc_2">
<%= render "partial/fotter_home" %>
</div>

</mains>



