<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

  	<div style="padding:30px 35px 0px;">
  		<h4>運営者情報</h4>

		<p>運営者<br>伊豆野純平</p>

		<p>事業内容<br>デートコース提案サービス「A.Date」の企画・開発・運営</p>

		<p>本所在地<br>〒166-0004,東京都杉並区阿佐谷南1-3-12-302</p>	

		<p>お問い合わせ adate.ask@gmail.com</p>	
  	</div>

  	<%= render "partial/fotter_home" %>

</mains>